.game-of-life {
  margin-top: 5em;
  justify-content: center;
  display: flex;
}

.size-selectors {
  display: block;
  text-align: right;
}

.game-container {
  text-align: center;
}


.buttons > * {
  display: inline-block;
  margin-right: 0.5em;
}
